.feedStyles {
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 1rem;
}

.feedStyles.light {
  background-color: var(--light-bg);
  color: var(--text-dark);
  border: 1px solid var(--border-light);
}

.feedStyles.dark {
  background-color: var(--dark-bg);
  color: var(--text-light);
  border: 1px solid var(--border-dark);
}

.light {
  color: var(--text-light);
}

.dark {
  color: var(--text-dark);
}

.HomePageFormControlLight {
  color: var(--text-dark) !important;
  /* border: none; */
  background-color: var(--light-bg) !important;
}

.HomePageFormControlDark {
  color: var(--container-active-light) !important;
  /* border: none; */
  background-color: var(--dark-bg) !important;
}

.HomePageFormControlLight::placeholder {
  color: var(--text-dark) !important;
}
.HomePageFormControlDark::placeholder {
  color: var(--container-active-light) !important;
}

.HomePageStyles {
  min-height: calc(100vh - 56px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.HomePageStyles.light {
  background-color: var(--Pages-bg-light);
  color: var(--text-dark);
}

.HomePageStyles.dark {
  background-color: var(--Pages-bg-dark);
  color: var(--text-light);
}
