.navLink {
  /* border-radius: 4px; */
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
  text-align: center;
  margin: 3px;
}

.light {
  color: var(--text-dark);
  background-color: var(--container-light);
}

.light:hover {
  background-color: var(--active-link-light);
}

.activeLight {
  background-color: var(--active-link-light);  
  font-weight: bold;
}

.dark {
  color: var(--text-white);
  background-color: var(--container-dark);
}

.dark:hover {
  background-color: var(--active-link-dark);
}

.activeDark {
  background-color: var(--active-link-dark);
  font-weight: bold;
}

