* {
  box-sizing: border-box;
  transition: background-color 0.1s ease;
}

:root {
  --Pages-bg-light: #fff;
  --Pages-bg-dark: #1a1d21;
  --light-bg: #fefefe;
  --dark-bg: #2c2f33;
  --border-light: #dee2e6;
  --border-dark: #444;
  --primary-color: #4a90e2;
  --secondary-color: #6c757d;
  --text-light: #f8f9fa;
  --text-dark: #343a40;
  --text-white: #fff;
  --text-black: #000;
  --active-link-light: #d4cece;
  --active-link-dark: #777;
  --container-light: #f0f0f0;
  --container-dark: #444;

}
.no-arrow .dropdown-toggle::after {
  display: none !important;
}
